@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-color: skyblue;
    font-family: Source Sans Pro;
   
}

h2 {
    text-decoration: underline;
}

#Notes {
    color: rgb(128, 13, 5);
}

header {
    text-align: center;
}